@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

footer{
    position: relative;
    width: 100%;
    padding: 20px 10vw;
    padding-bottom: 20px;
    background: #353232;
    margin-top: 30 px;
}

.content{
    display: flex;
    justify-content: space-evenly;
}
.content-header{
    font-size: 30px;
}
.content-header, .content-subheader{
    font-weight: bold;
    text-align: center;
    color: wheat;
    font-family: 'Inconsolata', monospace;
}
.content-1{
    text-align: center;
}
.footer-email{
    display: flex;
    color: rgb(211, 203, 203);
    text-decoration: none;
    align-items: flex-end;
    
}
.footer-email:hover{
    text-decoration: underline;
}
.footer-email i{
    margin-right: 5px;
}
footer i{
    font-size: 25px;
}
.content-3links{
    display: flex;
}
.content-3 a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content-3 i{
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    color: rgb(211, 203, 203);
    /* margin: 0 10px; */
    /* margin-top: 20px; */
}

.content-3 i:hover{
    background-color: #727171;
}

.content-3 a:visited{
    color: blue;
}

@media (max-width: 768px){

    *{
        font-size: 3vw;
    }
}
