*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

.navbar{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background: #181818;
    z-index: 9;
}

.nav{
    padding: 10px 2.5vw;
    display: flex;
    /* justify-content: space-between; */
}

.brand-logo{
    height: 60px;
}

.nav-items{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;

}


.nav-items a{
    font-size: 20px;
    text-decoration: none;
    margin-left: 25px;
    color: rgb(219, 214, 214);
    /* font-weight: bold; */
}

.nav-items a:hover{
    color: wheat;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    list-style-type: none;
}
.dropdown-menu a {
    /* width: 100%; */
    float: none;
    color: black;
    padding: 10px 6px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 15px;
}

.dropdown-menu a:hover{
    /* background-color: rgb(155, 154, 154); */
    color: dodgerblue;
}

.dropdown:hover .dropdown-menu {
    display: block;
}
.hamburger{
    margin: auto 0;
    /* align-items: center; */
    /* align-self: flex-end; */
    align-items: flex-end;
    /* width: 100%; */
    position: absolute;
    right: 30px;
    top: 20px;
    /* padding:5px;   */
    cursor:pointer; 
    display: none;
}
.icon-bar{
    display:block;  
    width:35px;  
    height:3px;  
    margin:6px auto;  
    background-color:#f9f9f9;  
    transition: 0.4s; 
}

@media only screen and (max-width:900px){   
    .nav-items{  
      position:absolute;   
      top:0vh;  
      right:0px;  
      flex-direction:column;  
      background-color:rgb(0,0,0,1);  
      border-radius:0px 0px 0px 20px;  
      transition:transform 0.3s ease-in;  
      transform:translate(100%);  
      width: 100%;
      margin: 20px 0;
      height: 100vh;
      /* font-size: 7vw; */
     }  
    .nav-items li{
        margin: 15px 0;
        font-size: 30px;
    }
    .nav-change{  
      transform:translate(0%);  
     }  
    .hamburger{  
      display:block;  
     }  
    .change #bar1 {  
     transform: rotate(45deg) translate(8px,3px);  
    }  
    .change #bar2 {  
     opacity: 0;  
    }  
    .change #bar3 {  
     transform: rotate(-45deg) translate(8px,-3px);  
    }  
}  