body{
    background-color: rgb(37, 36, 36);
    color: white;
    /* text-align: center; */
}
.sponsor-img{
    width: 100%;
    display: flex;
    justify-content: center;
}
.anant-ico
    {
        width:250px;
        height: 250px;
        margin-top: 7vw;
        margin-bottom: 5vw;

    }
.row{
    display: flex;
    justify-content: space-evenly;
} 
.logo
    {
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding-top: 50px;
      padding-bottom: 50px;
    }
.hometext{
    margin: 5px 0;
    padding: 20px;
    font-size: 23px;
}
.sponsor-heading
    {
      text-align: center;
      padding-top: 50px;
      color: wheat;
    }
p{
    text-align: center;
} 

.main a:visited{
    color: blue;
}
@media (max-width: 768px)
    {
      .sponsor-heading{
          font-size: 7vw;
      }
      a
      {
        font-size: 5vw;
      }

    }